amqp==5.3.1
asgiref==3.8.1
billiard==4.2.1
boto3==1.37.14
botocore==1.37.14
Brotli==1.1.0
celery==5.4.0
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
cssbeautifier==1.15.4
dj-database-url==2.3.0
Django==5.1.7
django-celery-results==2.5.1
django-cors-headers==4.7.0
django-on-heroku==1.1.2
djangorestframework==3.15.2
djlint==1.36.4
EditorConfig==0.17.0
gunicorn==23.0.0
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.10
jmespath==1.0.1
jsbeautifier==1.15.4
json5==0.10.0
kombu==5.5.0
mutagen==1.47.0
packaging==24.2
pathspec==0.12.1
prompt_toolkit==3.0.50
psycopg2-binary==2.9.10
pycryptodomex==3.22.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
regex==2023.12.25
requests==2.32.3
s3transfer==0.11.4
six==1.17.0
sqlparse==0.5.3
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2025.1
urllib3==2.3.0
vine==5.1.0
wcwidth==0.2.13
websockets==15.0.1
whitenoise==6.9.0
yt-dlp==2025.2.19
ytmusicapi==1.10.2
