{% extends "users/layout.html" %}
{% block body %}
    <div>
        <h1>Music</h1>
        {% for file in files %}
            <ul>
                {{ file }}
            </ul>
        {% endfor %}
    </div>
    <div>
        <h1>Playlists</h1>
        {% for playlist in playlists %}
            <ul>
                {{ playlist }}
            </ul>
        {% endfor %}
    </div>
    <div>
        <h1>Tracks</h1>
        {% for track in tracks %}
            <ul>
                {{ track }}
            </ul>
        {% endfor %}
    </div>
{% endblock body %}
