{% extends "app/layout.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'app/about.css' %}">
{% endblock head %}
{% block body %}
    <div id="content">
        <p>
            Don't want to pay for a subscription for popular music streaming platforms? Would rather download tracks onto your phone and listen for free?
            Brook is an app that lets you download music and entire playlists from YouTube and Spotify entirely for free. Simply search for a song or playlist
            on either platform and copy paste the link and click Brew. After a few seconds (or minutes for larger playlists) an audio file for your track or zip
            file for your playlist will be available to download onto your device!
        </p>
        <p>
            Worried that you will have to download multiple times each time you make an adjustment to your playlist? Don't worry! Users who have created an account
            can save their playlists and track any changes made since your last session, giving you the option to download a zip file containing only newly added
            tracks.
        </p>
        <p>REMEMBER TO MAKE YOUR PLAYLISTS UNLISTED/PUBLIC ON SPOTIFY AND YOUTUBE BEFORE USING BROOK!</p>
    </div>
    <div id="links">
        <a href="{% url "index" %}" class="btn btn-link">Home</a>
    </div>
{% endblock body %}
