{% extends "app/layout.html" %}
{% load static %}
{% block head %}
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
          rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'app/index.css' %}">
    <script src="{% static 'app/index.js' %}"></script>
{% endblock head %}
{% block body %}
    <div id="account-links">
        {% if not user.is_authenticated %}
            <a href="{% url "register" %}" class="btn btn-outline-secondary">Register</a>
            <a href="{% url "login" %}" class="btn btn-outline-secondary">Login</a>
        {% else %}
            <a href="{% url "logout" %}" class="btn btn-outline-secondary">Logout</a>
            <p>{{ user.username }}</p>
        {% endif %}
    </div>
    <section id="brew">
        <div id="title">
            <h1>Brook</h1>
            <h5>Yohohoho</h5>
            <h6>Your barebones music pirate</h6>
        </div>
        <form id="brew-form" method="post">
            {% csrf_token %}
            <div class="form-floating">
                <input type="text"
                       name="link"
                       class="form-control"
                       id="brew-link"
                       placeholder="">
                <label for="brew-link">YouTube or Spotify track/playlist URL</label>
            </div>
            <!-- Add text-center class here -->
            <select id="brew-format" class="form-select" name="file_format">
                <option selected value="mp4">mp4</option>
                <option selected value="m4a">m4a</option>
            </select>
            <input type="submit" class="btn btn-outline-secondary" value="Brew">
        </form>
        <div id="brew-spinner" class="spinner-border" role="status">
            <span class="visually-hidden">Downloading...</span>
        </div>
        <div id="brew-confirm" class="alert alert-info" role="alert"></div>
        <div id="brew-error" class="alert alert-danger" role="alert"></div>
    </section>
    <section id="recent-playlists">
        <h3>Recent Playlists</h3>
        <div id="watch">
            <button id="watch-btn" class="btn btn-outline-secondary">Add playlist</button>
            <form id="watch-form" method="post">
                {% csrf_token %}
                <div class="form-floating">
                    <input type="text"
                           name="link"
                           class="form-control"
                           id="watch-link"
                           placeholder="">
                    <label for="watch-link">YouTube or Spotify playlist URL to watch</label>
                </div>
                <input id="watch-add-btn"
                       type="submit"
                       class="btn btn-outline-primary"
                       value="Add">
            </form>
            <div id="watch-spinner" class="spinner-border" role="status">
                <span class="visually-hidden">Downloading...</span>
            </div>
            <div id="watch-confirm" class="alert alert-info" role="alert"></div>
            <div id="watch-error" class="alert alert-danger" role="alert"></div>
        </div>
        <div id="playlists-grid">
            {% comment %} <div class="container">
                <div class="row">
                    {% for playlist in playlists %}
                        <div class="col">
                            <div class="playlist">
                                <h5>{{ playlist.name }}</h5>
                                <h6>{{ playlist.owner }}</h6>
                                <a href="{% url "playlist" playlist.platform playlist.id %}" target="_blank">
                                    <img class="playlist-thumbnail" src="{{ playlist.thumbnail }}" alt="thumbnail" height="250" width="250">
                                </a>
                                <div class="playlist-btns">
                                    <div class="btn-group">
                                        <a href="{% url "update" playlist.id %}" class="btn btn-secondary">Update</a>
                                        <a href="{% url "brew" playlist.id %}" class="btn btn-secondary">Download</a>
                                        <a href="{% url "remove" playlist.id %}" class="btn btn-secondary">Remove</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div> {% endcomment %}
        </div>
    </section>
    <div id="links">
        <a href="{% url "about" %}" class="btn btn-link">About</a>
    </div>
{% endblock body %}
